* {
    margin: 0;
    padding: 0;

}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}
body{
    width: 1920px;
    height: 100vh;
    background-color: white;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.page{
    width: 100%;
    height: auto;
    background-color: white;
    margin: auto;
}
/*----- HEADER -----*/

.header{
    width: 100%;
    height: 10vh;
    display: flex;
}


.logo{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 60%;
    width: auto;
}



.serv_mutu{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.img_mutu{
    width: 100%;
    height: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.txt_mutu{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}




.serv_de{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.img_de{
    width: 100%;
    height: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.txt_de{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}



.cloud{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.img_cloud {
    width: 100%;
    height: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.txt_cloud {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}



.contact{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.img_cont {
    width: 100%;
    height: 50%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.txt_cont {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}


.img{
    font-size: 180%;
}

.fa-user-gear {
    color: rgb(253, 138, 155); 
    transition: color 0.3s;
}

.fa-user-gear:hover {
    color: rgb(255, 80, 110); 
}
/*----- MAIN -----*/


.main{
    width: 100%;
    height: auto;
}

.search_bar{
    width: 100%;
    height: 5vh;
    background-color:rgba(253, 138, 155, 1.00);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search_bar p {
    color: rgba(255, 195, 209, 1.00);
    margin-left: 30px;
    font-size: large;
}

.principal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.haut{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 22vh;
}
.info{
    border: 2px dotted gray;
    width: 80%;
    height: 100%;
}
.titre_info{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: xx-large;
}
.txt_info{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}
p{
    color: gray;
}



.bas{
    margin-top: 5vh;
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: space-between;

}
.game{
   border: 2px dotted gray;
   width: 30%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.titre_game{
    width: 90%;
    height: 8vh;
    margin-top: 2vh;
    background-color: rgb(33, 63, 79);
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt_game{
    margin-top: 3vh;
    width: 90%;
    height: 20vh;

}
ul {
    margin-left: 2vh;
    color: gray;
}
li {
    margin-bottom: 1vh;
}
.prix_game{
    margin-top: 2vh;
    color: rgb(134, 44, 44);
    font-size: large;
}
button{
    margin-top: 2vh;
    background-color: rgb(253, 138, 155);
    color: white;
    border: none;
    padding: 20px 100px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
button:hover {
    background-color: rgb(255, 80, 110);
    transition: background-color 0.3s;
}



.stockage{
    border: 2px dotted gray;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre_stockage{
    width: 90%;
    height: 8vh;
    margin-top: 2vh;
    background-color: rgb(33, 63, 79);
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt_stockage{
    margin-top: 3vh;
    width: 90%;
    height: 20vh;

}
.prix_stockage{
    margin-top: 2vh;
    color: rgb(134, 44, 44);
    font-size: large;
}




.hdg{
    border: 2px dotted gray;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre_hdg{
    width: 90%;
    height: 8vh;
    margin-top: 2vh;
    background-color: rgb(33, 63, 79);
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt_hdg{
    margin-top: 3vh;
    width: 90%;
    height: 20vh;

}
.prix_hdg{
    margin-top: 2vh;
    color: rgb(134, 44, 44);
    font-size: large;
}







h3{
   color: white; 
   font-size: x-large;
}


a {
    text-decoration: none;
}
/*----- FOOTER -----*/


.footer{
    margin-top: 50px;
    width: 100%;
    height: 10vh;
    background-color: rgb(33, 63, 79);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer p{
    color: white;
}